@model ERP_JOSEREIS.ViewModels.FornecedorViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Fornecedor</legend>
</fieldset>
@if(Model.pessoaFisica != null)
{
    @Html.Partial("DetailsPF")
}
else
{
    @Html.Partial("DetailsPJ")
}

@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
