@model ERP_JOSEREIS.Models.Fornecedor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Fornecedor</legend>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IdFornecedor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
