@model ERP_JOSEREIS.ViewModels.FornecedorViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Fornecedor</legend>
</fieldset>

@if(Model.pessoaFisica != null)
{
    @Html.Partial("FornecedorPessoaFisica")
}
else
{
    @Html.Partial("FornecedorPessoaJuridica")
}