@model IEnumerable<ERP_JOSEREIS.Models.Fornecedor>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New PJ", "CreatePJ")
    @Html.ActionLink("Create New PF", "CreatePF")
    @Html.ActionLink("Details PF", "DetailsPF")
    @Html.ActionLink("Details PJ", "DetailsPJ")
</p>
