@{
    ViewBag.Title = "Tabuada3";
}

<h2>Tabuada3</h2>

@using (Html.BeginForm())
{

    <fieldset>
        <legend>Tabuada</legend>

        <div class="editor-label">
            <input id="id" name="id" type="text" value="Digite um numero" />
        </div>

        <p>
            <input type="submit" value="Tabuada3" />
        </p>
    </fieldset>
}