@model ERP_JOSEREIS.ViewModels.ClienteViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@if (Model.PessoaFisica != null)
{
    @Html.Partial("ClientePessoaFisicaDetalhes")
}
else
{
    @Html.Partial("ClientePessoaJuridica")
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Cliente.IdCliente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
