@model ERP_JOSEREIS.ViewModels.ClienteViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@if (Model.PessoaFisica != null)
{
    @Html.Partial("ClientePessoaFisica")
}
else
{
    @Html.Partial("ClientePessoaJuridica")
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
